# Jekyll (website/)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Node (container/)
node_modules

# Serverless (container/)
.serverless

# Python (scripts/, container/)
__pycache__/
package/
**/.venv*/
*.py[cod]
*$py.class
*.so

# Test/coverage
.coverage
coverage.xml
.pytest_cache/
